<main class="relative min-h-[100vh]">
  <button mat-icon-button
    class="primary"
    #tooltip="matTooltip"
    [matTooltip]="menuOpened ? 'Haz click para cerrar el menú' : 'Haz click para abrir el menú'"
    matTooltipPosition="after"
    aria-label="Button to toggle menu" (click)="toggleMenu(sidenav)">
    <mat-icon
      class="absolute top-3 left-3"
      [@menuTrigger]="menuOpened ? 'open' : 'close'"
      [class.opacity-0]="menuOpened">menu</mat-icon>
    <mat-icon
      class="absolute top-3 left-3"
      [@menuTrigger]="!menuOpened ? 'open' : 'close'"
      [class.opacity-0]="!menuOpened">close</mat-icon>
  </button>
  <mat-drawer-container
    hasBackdrop="true"
    class="absolute flex flex-col top-0 left-0 right-0 bottom-0 h-full">
    <mat-drawer #sidenav mode="over" class="py-6 px-6 xs:py-8">
      <a
        routerLink="/"
        (click)="toggleMenu(sidenav)"
        class="flex justify-center relative h-[100px] xs:h-[124px] w-full mb-10">
        <img src="assets/logo.jpg" class="absolute mix-blend-multiply h-[100px] xs:h-[124px] w-auto top-0 bottom-0" />
        <span class="absolute -bottom-5 xs:-bottom-6
          text-primary-subtle font-bold text-[16px] xs:text-[18px] bg-primary-active
          rounded-md px-2 py-[2px] shadow-md">Juegos de Pau y Cris</span>
      </a>
      <mat-nav-list>
        @for (link of links; track link.name) {
        <li><a
            [routerLink]="link.href"
            (click)="toggleMenu(sidenav)"
            class="font-bold text-primary dark:text-zinc-50 hover:text-primary-hover
            transition-colors duration-200">{{ link.name }}</a></li>
        }
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="s:p-5 p-2">
      <router-outlet />
    </mat-drawer-content>
  </mat-drawer-container>
</main>
