@tailwind base;
@tailwind components;
@tailwind utilities;

body,
app-root {
  cursor: default;
}

router-outlet {
  display: block;
  height: 0px;
}

app-blackjack {
  display: block;
  max-height: 100dvh;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.cdk-global-overlay-wrapper:has(.centered-snackbar) {
  align-items: center !important;
  cursor: default;
}

@media (max-width: 768px) {
  .centered-snackbar {
    margin-right: 50px !important;
  }
}
